<h4>Lista de usuários</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Usuarios descrição</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.usuarioDescricao}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-sm">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
